<%- include('partials/header', {title:"Weirdle: Cooler Wordle"}) -%>

<p> Welcome to the official site of Weirdle: The better wordle!
  <br>
  <br>
  <a href="/play">Click to play a round of Wordle</a>

  <%- include('partials/footer') -%>
