<%- include('partials/header', {title:"Edit User"}) -%>

<h2> - Edit User Profile -</h2>

<form action="/opponentCreate" method="POST">
  <label for="name"> I'm playing as:</label>
  <input type="text" id="name" name="opponentName" value=""><br>
  <br>
  <label for="photo"> My avatar is:</label>
  <input type="text" id="photo" name="opponentPhoto" value=""><br>
  <br>
  <input type="submit" value="Create a new user!">

</form>

<%- include('partials/footer') -%>
