<%- include('partials/header', {title:"Play: Weirdle"}) -%>

<p> Choose your opponent and make your guess!

  <form action="/results" method="GET">
    <label for="user">Choose a user:</label>
    <select id="user" name="user">
      <%for(user in data){%>

      <option value="<%=player%>"><%=player%></option>
      <%}%>
    </select>
    <br><br>
    <label for="guess">Make a guess:</label>
    <select id="guess" name="guess">
      <option value="Paper">Paper</option>
      <option value="Rock">Rock</option>
      <option value="Scissors">Scissors</option>
    </select>
    <br><br>
    <input type="submit" value="Submit your guess!">

  </form>

  <%- include('partials/footer') -%>
